<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login PTr.com</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <div id="top">
        <div class="flex-box">
            <h1>O twitter está morto</h1>
        </div>
    </div>
</head>
<body>
    <div class="blocky" id="login">
        <div style="align-content: center">
            <form th:action="@{/loggers}" th:object="${loginModel}">

                <label for="arroba">Arroba?</label>
                <input type="text" id="arroba" name="arroba"/><br/>

                <label for="senha">Senha</label>
                <input type="text" id="senha" name="senha"/><br/>

                <button type="submit">Assino</button>

                <a th:href="@{/cadastro}">Sem conta?</a>
            </form>
        </div>
    </div>
</body>
</html>