<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <div id="top">
        <div class="flex-box">
            <h1>O twitter está morto</h1>
            <div id="topright" th:switch="${Usernick != null}">
                <h1 th:case ="${false}"><a th:href="@{login}">Login</a></h1>
                <h1 th:case ="${true}" th:text="${Usernick}"></h1>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="../static/styles/main.css">
    <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="expires" content="0">
</head>
<body>

<div class="blocky" id="searchbar">
    <form th:action="@{/searchPage}" th:href="@{searchPage}" th:object="${searchShit}" method="post">
        <label for="textInput">Procura agui</label>
        <input type="text" id="search-input" name="search-input"/>
        <button type="submit">Peshquisar</button>
    </form>
</div>

<div class="flex-box" id="centraliza">
    <div class="blocky" id="esquerda">
        <h1> Postitar?</h1>
        <form  th:action="@{/postin}" th:object="${formModel}" method="post" enctype="multipart/form-data">
            <label for="textInput">Postit</label>
            <input type="text" id="textInput" name="textInput"/>
            <input type="file" id="image" name="image" accept="image/*" class="form-control-file"/>
            <button type="submit">Poshtar</button>
        </form>
        <form  th:action="@{/alterin}" th:object="${formGetModel}">
            <label for="textInputPut">Modificar</label>
            <input type="text" id="textInputPut" name="textInputPut"/>
            <label for="intInput2">Modificar</label>
            <input type="number" id="intInput2" name="intInput2"/>
            <button type="submit">Poshtar</button>
        </form>
        <form  th:action="@{/deletin}" th:object="${formDeleteModel}">
            <label for="intInput">Delete</label>
            <input type="number" id="intInput" name="intInput" maxlength="14"/>
            <button type="submit">Deletar</button>
        </form>
        <p th:if="${msg != null}" th:text="${msg}"/>
    </div>
    <div class="blocky" id="central_box">
        <h1> Posts </h1>

        <div th:each="post : ${listposts}" class="postB">
            <div class="middle">
                <div class="l">aa</div>
                <div class="r">
                    <p th:text="${post.getArroba()}"/>
                    <p style="padding-left: 12px" th:text="${post.text_content}"></p>
                    <a th:href="@{'/pics/' + ${post.getImage_url()}}">
                        <img class="aligned" th:if="${post.getImage_url() != null}"
                             th:src="@{'/pics/' + ${post.getImage_url()}}"
                             alt="no shit sherlock"/>
                    </a>

                    <div class="down">
                        <p th:text="${post.dateTime}"/>
                        <button th:object="${gostar}" th:action="@{/goshtei}"  type="number" id="id" name="id">♥</button>
                        <p th:text="${post.getLikes()}"></p>
                    </div></div>
            </div>
        </div>
    </div>
    <div class="blocky" id="memes" th:each="redditIma : ${redditposts}">
        <div class="blocky">
            <img id="img" th:src="${redditIma}"/>
        </div>
    </div>
</div>
</body>


</html>