html{
    background-image: url("../pics/Postitters background.png");*/
    background-color: white;
}
#top{
    background-color:blue;
    color: aliceblue;}
#topright{
    right: 10px;
    position: absolute;
}
#searchbar{
    margin-bottom: 10px;
}
#cadastrom{
    width: 350px;
    height: 750px;
    margin-top: 46px;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    padding-top: 150px;
    text-align: -webkit-center;
}
#centraliza{
    width: 50%;
    margin: auto;
}
#esquerda{
    top: 0px;
    position: sticky;
    width: 275px;
    float:left;
    line-height: 30px;
    height: 100%;
    min-height: 100vh;
}
#central_box{

    width: 600px;
}
#memes{
    top: 0px;
    position: sticky;
    height: fit-content;
    float: left;
    width: 20%;
}
#img{
    width: -webkit-fill-available;
}
.aligned{
    border-radius: 15px;
    object-fit: cover;
    width: 100%;
    height: 600px;
}
.blocky{
    border-color: purple;
    border-style: double;
    background-color: aqua;
}
.postB{
    border-color: gray;
    border-style: solid;
    border-width: 0.5px;
    display: flex;
}
.flex-box{
    display: flex;
}
.middle{
    width: 100%;
    display: flex;
}
.l{
    background-color: red;
    height: 100%;
    flex: 1;
    padding-right: 7px;
}
.r{
    width: 100%;
}
.down{
    right: 0px;
    display: flex;
    bottom: 0px;
}