html{
    background-image: url("../pics/Postitters background.png");
}
#top{
    background-color:blue;
    color: aliceblue;}
#topright{
    right: 10px;
    position: absolute;
}
#searchbar{
    margin-bottom: 10px;
}
#cadastrom{
    width: 350px;
    height: 750px;
    margin-top: 46px;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    padding-top: 150px;
    text-align: -webkit-center;
}
#esquerda{
    width: 35%;
    float:left;
    line-height: 30px;
    height: 100%;
    min-height: 100vh;
}
#central_box{
}
#memes{
    float: left;
    width: 20%;
}
#img{
    width: -webkit-fill-available;
}
.aligned{
    border-radius: 15px;
}
.blocky{
    border-color: purple;
    border-style: double;
    background-color: aqua;
}
.postB{
    border-color: gray;
    border-style: solid;
    border-width: 0.5px;
    display: flex;
}
.flex-box{
    display: flex;
}
.middle{
    display: flex;
}
.l{
    background-color: red;
    height: 100%;
    flex: 1;
    padding-right: 7px;
}
.r{
}
.down{
    bottom: 0px;
}